<div class="carous top-pagination">
<div class="col-sm-12 input-group margin-bottom"><h3 class="pull-left"><span>{{ heading_title }}</span></h3><div class="line-border"></div></div>
	<div id="carous{{ module }}" class="owl-carousel" style="opacity: 1;">
	{% for product in products %}
		{% set show_attribute="0" %}
		{% set show_reviews="1" %}
		{% set show_decription="0" %}
		{% set show_schetchik="0" %}
		{% if product.attributes and attributes_module_setting=="1" %}{% set show_attribute="1" %}{% endif %}
		{% if product.description and decription_module_setting=="1" %}{% set show_decription="1" %}{% endif %}
		{% if product.special and schetchik=="1" %}{% set show_schetchik="1" %}{% endif %}
		<div class="item">
			<div class="col-sm-4">
			  <div class="image row">
				<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
				{% if show_schetchik=="1" and product.special %}
					<div class="col-sm-12 text-center">
						<div class="schetchik trapezium">
							<div id="defaultCountdown{{ module }}_{{ product.product_id }}"></div>
							<div class="opacity_countdown"></div>
						</div>
					</div>
				{% endif %}
			  </div>
			</div>
			<div class="col-sm-8">
				<div class="caption">
					<h2><a href="{{ product.href }}">{{ product.name }}</a></h2>
					<ul class="nav nav-tabs col-sm-12">
							<li class="active"><a class="btn btn-link" href="#home_carous{{ module }}_{{ product.product_id }}" data-toggle="tab"><i class="fa fa-home"></i> <i class="fa fa-chevron-down"></i></a></li>
							<li><a class="btn btn-link" href="#descr_carous{{ product.product_id }}" data-toggle="tab"><span>Описание</span> <i class="fa fa-chevron-down"></i></a></li>
							{% if show_attribute=="1" and product.attributes %}<li><a class="btn btn-link" href="#descr_attribute{{ product.product_id }}" data-toggle="tab"><span>Характеристики</span> <i class="fa fa-chevron-down"></i></a></li>{% endif %}
							{% if show_reviews=="1" and product.review_total %}<li><a class="btn btn-link" href="#descr_reviews{{ product.product_id }}" data-toggle="tab" onClick="load_review({{ product.product_id }})"><span>Отзывы ({{ product.review_total }})</span> <i class="fa fa-chevron-down"></i></a></li>{% endif %}
					</ul><div class="clearfix"></div><br />
					<div class="tab-content">
						<div class="tab-pane active hide_template" id="home_carous{{ module }}_{{ product.product_id }}">
							{% if parametr=="1" %}
								<div class="param col-sm-12">
									<div class="row">
										<b>{{ text_manufacturer }}</b> <a href="{{ product.link_manufacturers }}">{{ product.manufacturer }}</a><br />
										<b>{{ text_model }}</b> {{ product.model }}<br />
										<b>{{ text_stock }}</b> {{ product.stock }}
									</div>
								</div>
							{% endif %}<div class="clearfix"></div>
							{% if product.price %}<div class="clearfix"></div>
							<hr />
							<div class="col-sm-4">
								<div class="row">
									<p class="price">
									  {% if product.special == false %}
										  {{ product.price }}
									  {% else %}
									  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
									  {% endif %}
									  {% if product.tax %}
									  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
									  {% endif %}
									</p>
								</div>
							</div><hr class="visible-xs" />
							<div class="col-sm-8">
								<div class="row">
									<div class="button-group">
										<button type="button" onclick="cart.add('{{ product.product_id }}');" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> <span>{{ button_cart }}</span></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="btn btn-white"><i class="fa fa-heart"></i></button>
										<button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="btn btn-white"><i class="fa fa-exchange"></i></button>
									</div>
								</div>
							</div>
							{% endif %}
							<div class="clearfix"></div>
							<hr />
							
						</div>
						<div class="tab-pane hide_template" id="descr_carous{{ product.product_id }}">
							{% if show_decription=="1" %}
								<p>{{ product.description }}</p>
							{% endif %}
						</div>
						<div class="tab-pane hide_template" id="descr_attribute{{ product.product_id }}">
							{% if show_attribute=="1" %}
								{% set qa="0" %}
								{% for attribute in product.attributes %}
									{% for attribute in attribute.attribute %}
										{% if qa < limit_attribute %}
											<b>{{ attribute.name }}:</b> {{ attribute.text }}<br />
											{% set qa=qa+1 %}
										{% endif %}
									{% endfor %}
								{% endfor %}
								{% if qa >= limit_attribute %}
									{{ td_more }}
								{% endif %}
							{% endif %}
						</div>
						<div class="tab-pane hide_template" id="descr_reviews{{ product.product_id }}">
							{% if show_reviews=="1" %}
								<div id="review{{ product.product_id }}"></div>
							{% endif %}
						</div>
					</div>
				  </div>
			</div>
		</div>
	  {% endfor %}
	</div>
</div>
<script><!--
function load_review(product_id) {
	$('#review' + product_id).load('index.php?route=extension/module/carous/review&prod_id=' + product_id);
}
function load_review_popup_pagination(product_id, href) {
	$('#review_popup' + product_id).load(href);
}
function testposition(cls) {
	if ($(cls).parent().parent().hasClass('row')) {
		return 'bottom';
	} else {
		return 'top';
	}
}
var testing = testposition('#carous{{ module }}');
if (testing == 'top') {
	$('#carous{{ module }}').owlCarousel({
		items: 1,
		pagination: true,
		singleItem: true,
		autoPlay: false,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
		navigation: true
	});
}
if (testing == 'bottom') {
	$('#carous{{ module }}').owlCarousel({
		items: 2,
		pagination: true,
		autoPlay: false,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
		navigation: true,
		itemsDesktop : [1199, 1],
		itemsDesktopSmall : [997, 1],
		itemsTablet : [767, 1],
		itemsTabletSmall : [590, 1],
		itemsMobile : [479, 1],
	});
}
--></script>
<script><!--
{% for product in products %}
	if (testing == 'bottom') {
		$('#home_carous{{ module }}_{{ product.product_id }} .button-group button + button').remove();
		$('#home_carous{{ module }}_{{ product.product_id }} .button-group').addClass('pull-right');
	}
	{% if product.year and product.mounth and product.day %}
		(function($) {
				$.countdown.regional['ru'] = {
				labels: ['Лет', 'Месяцев', 'Недель', 'Дней', 'Часов', 'Минут', 'Секунд'],
				labels1: ['Год', 'Месяц', 'Неделя', 'День', 'Час', 'Минута', 'Секунда'],
				labels2: ['Года', 'Месяца', 'Недели', 'Дня', 'Часа', 'Минуты', 'Секунды'],
				compactLabels: ['л', 'м', 'н', 'д'], compactLabels1: ['г', 'м', 'н', 'д'],
				whichLabels: function(amount) {
					var units = amount % 10;
					var tens = Math.floor((amount % 100) / 10);
					return (amount == 1 ? 1 : (units >= 2 && units <= 4 && tens != 1 ? 2 :
						(units == 1 && tens != 1 ? 1 : 0)));
				},
				digits: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'],
				timeSeparator: ':', isRTL: false};
			$.countdown.setDefaults($.countdown.regional['ru']);
		})(jQuery);
		$(function () {
			var austDay = new Date();
		austDay = new Date({{ product.year }}, {{ product.mounth }} - 1, {{ product.day }});
			$('#defaultCountdown{{ module }}_{{ product.product_id }}').countdown({until: austDay});
			$('#year').text(austDay.getFullYear());
		});
	{% endif %}
{% endfor %}
--></script>