<script>
	function sending() {
		var emailvalid = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
		var email = $('#inputemail').val();
		if(email != "")
		{
			if(!emailvalid.test(email)) {
				swal(
				  '{{ text_error_email }}'
				)
				return false;
			} else {
				$.ajax({
					url: 'index.php?route=extension/module/newsletter/news',
					type: 'post',
					data: 'email=' + $('#inputemail').val() + '&user_token={{ user_token }}',
					dataType: 'json',
					success: function(json) {
						swal(json.message)
					}
				});
				return false;
			}
		}
		else
		{
			swal(
			  '{{ text_empty_email }}'
			)
			$(email).focus();
			return false;
		}
	}
</script>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 col-xm-12"><span class="btn text text-nowrap">{{ text_footer_letters }}&nbsp;&nbsp;</span></div>
<div class="col-lg-7 col-md-5 col-sm-7 col-xs-9 col-xm-12">
	<form method="post">
		<div class="row">
		  <div class="col-lg-9 col-sm-8 col-xs-8">
			<input type="email" class="form-control" name="inputemail" id="inputemail" placeholder="Email">
		  </div>
		  <div class="col-lg-3 col-sm-4 col-xs-4">
			<button type="submit" class="btn btn-warning text-uppercase" onclick="return sending();"><i class="fa fa-envelope-o"></i> <span class="hidden-xs">{{ text_button_letters }}</span></button>
		  </div>
		</div>
	</form>
</div>
